body {
	background: #000000;
    overflow-y:hidden;
}

#page-content {
	padding: 30px 0;
}

#logo
{

}

.canvasGameClass{
    text-align: center;
    width: 100%;
    height: 600px;
}

#circulo-play 
{
	background: url("../images/circulo-play.png") no-repeat center;
	width: 408px;
	height: 408px;
	line-height: 408px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-left: 35px;
}